@model IEnumerable<ShopCommon.MdProducts.Product>

@{
    ViewBag.Title = "Available products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Available products</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <button class="btn btn-success btn-xs addproduct" id=@item.IdProduct title="Adicionar"><i class="glyphicon glyphicon-plus"></i></button>
        </td>
    </tr>
}

</table>

<script>    
    $(document).ready(function () {
        addProductFromGroceryList();
    });
    //Funcion para agregar producto a la Grocery List.
    function addProductFromGroceryList() {
        $('.addproduct').attr('href', 'javascript://');
        $('.addproduct').click(function () {
            $.row_index = $(this).parent().parent();
            var _idProduct = $(this).attr('id');

            var $dialog = BootstrapDialog.show({
                title: 'Add product to grocery list',
                message: 'This product will be added to the grocery list. Are you sure?',
                buttons: [{
                    label: 'Ok',
                    action: function (dialog) {
                        $.ajax({
                            url: "/api/GroceryApi?idProducto=" + _idProduct,
                            type: "POST",
                            success: function (data) {
                                if (data !== "") {
                                    $.row_index.remove();
                                    window.location.replace("/Home");
                                }
                            },
                            error: function () {
                                BootstrapDialog.alert("Error adding the product");
                            }
                        });
                        dialog.close();
                    }
                }, {
                    label: 'Cancel',
                    action: function (dialog) {
                        dialog.close();
                    }
                }]
            });
        });
    }
</script>


